@model Category
@{
    ViewData["Title"] = "Update";
}

<h1 style="color:dodgerblue">Update Category</h1>
<br />
<div asp-validation-summary="ModelOnly"></div>
<form method="post">
    <div class="card">
        <div class="card-body">
            @if (ViewBag.UpdateMsg != string.Empty)
            {
                <div class="alert alert-primary" role="alert">
                    @ViewBag.UpdateMsg
                </div>
            }
            <br />
            <div class="form-group row">
                <label class="col-md-4" asp-for="CategoryName"></label> &nbsp; &nbsp;
                <input asp-for="CategoryName" class="form-control col-md-4" />
            </div>

            <div class="row form-group offset-4">
                <button class="btn bg-success form-control col-md-3" asp-action="Update" asp-controller="Category" asp-route-id="@Model.CategoryKey">Update</button>&nbsp; &nbsp; &nbsp;
                <button class="btn btn-primary form-control col-md-3" asp-action="CategoryList" asp-controller="Category">Back to List</button>
            </div>
        </div>
    </div>
</form>

